# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.db

# Virtual environments
venv/
env/
.venv/

# IDE / Editor files
.idea/
.vscode/
*.iml

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Flask / instance folder
instance/
